.header{
    grid-area: header;
    display: flex;justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin: 0;padding: 1rem;
    position: sticky;
    top: 0;
    border-bottom: .1rem solid #ddd;
}

.searchBox {
    width: 30rem; /* Set width as needed */
    padding: .5rem; /* Padding around the text */
    border: .1rem solid #ccc; /* Border */
    border-radius: .5rem; /* Rounded corners */
    outline: none; /* Remove the default focus outline */
  }
  
  /* Styles when the input is focused */
  .searchBox:focus {
    border-color: dodgerblue; /* Change border color when focused */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  }