.sidebar{
    grid-area: sidebar;
    border-right: .1rem solid #ddd;
    padding: 2rem;
}

.sidebar ul{
    flex-direction: column;
    list-style: none;
}

.sidebar ul li{
    display: flex;
}

.sidebar img{
    display:inline-block;
}

.sidebar li :hover{
    background-color: #F97316;
    color: #FFF;
    border-radius: 5px;
}



.navbar{
    display: flex;flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
