.sidebar{
    grid-area: sidebar;
    border-right: .1rem solid #ddd;
    padding: 2rem;
    display: block;
}

.sidebar ul{
    flex-direction: column;
}

.navbar{
    display: flex;flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

@media screen and (max-width: 480px){
    .sidebar {
        display: none;
    }
}
