.sidebar{
    grid-area: sidebar;
    border-right: .1rem solid #ddd;
    padding: 2rem;
}

.sidebar ul{
    flex-direction: column;
}

.sidebar ul li{
    display: flex;
}



.sidebar ul li:hover{
    background-color: #F97316;
    color: #FFF;
    border-radius: 5px;
    border: 5px #F97316 solid;
}

.navbar{
    display: flex;flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
